.form-groups-inline {
    font-family: $form-font-family;
    display: flex;
    flex-wrap: wrap;
  
    div {
      margin-top: 10px;
    }
  
    .form-field {
      width: 35%;
    }
  }
  
  .upload-panel {
    .form-field {
      width: 70%;
    }
  }
  
  .form-field {
    margin-right: 10%;
    margin-top: 5px;
    width: 100%;
    .error-message {
      color: $danger;
    }
  
    input,
    select {
      border: 1px solid $form-border-color;
      border-radius: 4px;
      color: $form-field-color;
      font-size: 16px;
      height: 40px; /* Ensure both input and select have the same height */
      margin-top: 5px;
      padding-left: 10px;
      width: 100%;
      box-sizing: border-box; /* Ensures padding is included in the width */
    }
  
    .error {
      border-color: $danger;
    }
  
    .readOnly {
      background-color: #eee;
      border: 1px dashed;
    }
  }
  
  .form-error {
    color: $danger;
    font-family: $form-font-family;
    font-size: 14px;
    font-weight: 500;
  }
  input[type="checkbox"] {
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
    cursor: pointer;
  
    &:checked {
      background-color: blue;
      border-color: blue;
    }
  }
  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  
  .evaluate-rule-group-form .evaluate-wrapper {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .evaluate-rule-group-form .evaluate-wrapper>div {
    margin-right: 10px;
  }
  .evaluate-rule-group-form .evaluate-wrapper {
    margin-bottom: 10px;
  }
  .evaluate-rule-group-form .evaluate-wrapper .key-name{
    text-transform: capitalize;
    width: 250px;
  }
  .json-viewer {
    margin-top: 15px;  
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd; /* Light border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside the viewer */
    font-family: monospace; /* Monospaced font */
    white-space: pre-wrap; /* Preserve white space and line breaks */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
  
  .json-viewer pre {
    margin: 0; /* Remove default margin */
    color: #333; /* Dark text color */
  }
  
  .json-viewer .json-key {
    color: #d73a49; /* Red color for keys */
  }
  
  .json-viewer .json-string {
    color: #032f62; /* Blue color for strings */
  }
  
  .json-viewer .json-number {
    color: #005cc5; /* Blue color for numbers */
  }
  
  .json-viewer .json-boolean {
    color: #e36209; /* Orange color for booleans */
  }
  
  .json-viewer .json-null {
    color: #6a737d; /* Gray color for null */
  }
  