.nav-container {
  background-color: $title-bg-clr;
  font-family: $title-font-family;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  padding: 0 10px 25px;

  &.closed {
    width: 40px;
  }

  &.open {
    width: $sideNavWidth;
  }

  &.light {
    background-color: $title-bg-clr;
  }

  &.dark {
    background-color: $title-bg-clr-drk;
  }

  &.md-blue {
    background-color: $title-bg-clr-mdblue;
  }
}

.menu-bar {
  cursor: pointer;
  font-size: 19px;
  margin-left: 30px;
  a {
    color: $title-color;
  }
}
.links-section {
  margin-top: 30px;
}

.links-section nav {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
}

.links-section a {
  color: $btn-color;
  font-family: $btn-font-family;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
}
.links-section a svg {
  padding-right: 10px;
}
.links-section .active {
  padding: 10px 20px;
  border-radius: 19px;
  background-color: #111;
}
