.rules-container {
  margin:  auto;
}

table {
  &.table {
    color: $form-field-color;
    font-family: $form-font-family;
    font-size: 16px;
    width: 100%;
  }

  tr:first-child {
    color: $form-label-color;
    text-align: left;
  }
}

.custom-table table {
  font-family: "Arial";
  width: 100%;
  margin: 40px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #c2c2c2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.05);
  tr {
    &:hover {
      background: #f4f4f4;

      td {
        color: #555;
      }
    }
  }
  th,
  td {
    color: #999;
    border: 1px solid #eee;
    padding: 20px 35px;
    border-collapse: collapse;
  }
  th {
    background: #c2c2c2;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
  .action-wrapper {
    display: flex;
  }
  .action-wrapper .btn:first-child {
    margin-right: 10px;
  }
  .action-wrapper .edit-icon {
    margin-right: 10px;
    color: $primary-btn-color;
    cursor: pointer;
  }
  .action-wrapper .delete-icon {
    color: $danger;
    cursor: pointer;
  }
}
