.header-container {
  background-color: #ECF0F1;
  color: #2A3F54;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 22px;
  padding: 30px 0px;
  
  .menu-bar {
    margin-right: 15px;

    a {
      color: $title-bg-clr;
    }

    .menu-icon {
      font-size: 24px;
    }
  }

  .title {
    flex-grow: 1;
    text-align: left;
  }

  &.light {
    background-color: $title-color;
    color: $title-bg-clr;
  }

  &.dark {
    background-color: $title-bg-clr-drk;
    color: $title-color-drk;
  }

  &.md-blue {
    background-color: $title-bg-clr-mdblue;
    color: $title-color-drk;
  }
}

.page-title {
  display: flex;

  h1 {
    color: $page-title-color;
    font-size: 1.5rem;
    font-family: $title-font-family;
    font-weight: 400;
    margin-top: 5px;
  }
}

.icon-card {
  color: $icon-color;
  font-size: 45px;
  margin-right: 10px;
}
